body {
    width: 99%;
background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url(../resources/images/velkepozadie.jpg);
}


.kontajner {
    background-color: #4b0000;
    padding: 5px;
    margin: -10px;    
}

.menu {
    float: right;
    padding-top: 30px;
}


button {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: translateY(-3px);
}

.reklamy {
    margin-top: 25px;
    padding: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.napisnalavo {
    margin-left: 150px;
    width: 40%;
}


.stlpecnapravo {
    margin-right: 100px;
    margin-top: 1%;
    transition: transform 0.3s;;
}
.obrdoprava {
    transition: transform 0.3s;
}

.obrdoprava:hover {
    transform: translateY(-3px);
}

.obrvypredaj {
    transition: transform 0.3s;
}

.obrvypredaj:hover {
    transform: translateY(-3px); 
}

h1 {
    font-size: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 5px #4b0000
}

h2 {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.zlava {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: black;
    text-align: justify;
    max-width: 450px;
}

.obrvypredaj {
    width: 600px;
    padding-bottom: 50px;
}

.obrdoprava {
    width: 600px;
}

.hore {
    text-decoration: underline;
}

.klikvypredaj {
    background-color: #4b0000;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.pata {
    padding-bottom: 10px;
    margin-top: 23px;
    margin-left: 600px;
    background-color: hsla(255, 255, 255, 50%);
}

.ciara {
    margin-top: 80px;
}